<footer >
    <div class="f-info h-[8rem] flex justify-center items-center flex-col bg-[#ebebeb]">
       
        <!-- Social Icons Section -->
        <div class="f-info-socials h-full flex justify-center items-center">
            <i class="fa-brands fa-square-facebook text-[1.25rem] mr-4"></i>
            <i class="fa-brands fa-square-instagram text-[1.25rem] mr-4"></i>
            <i class="fa-brands fa-linkedin text-[1.25rem]"></i>
        </div>

        <!-- Company Info Section -->
        <div class="flex justify-center items-center h-full">&copy; HeavenHub Private Limited</div>

        <!-- Links Section -->
        <div class="f-info-links w-[8rem] h-full text-[#222222] flex justify-evenly items-center">
            <a href="/privacy" class="hover:underline">Privacy</a>
            <a href="/terms" class="hover:underline">Terms</a>
        </div>
    </div>
</footer> 