<div class="hidden success">
    <i class="fa-solid fa-circle-check text-[green] absolute top-[38px] right-[10px]"></i>
</div>
<div class="hidden error">
    <i class="fa-solid fa-circle-exclamation text-[red] absolute top-[38px] right-[10px]"></i>
</div>
<p class="text-red-500 hidden errorMsg">Error Msg</p>